<header>
    Dependency Injection Example
</header>

<section>
    Beispiel 1: ein grundlegender Zähler
    <app-counter-panel></app-counter-panel>
</section>

<section>
    Beispiel 2: Verschachtelte Zähler
    <app-counter-container>
        <app-counter-panel></app-counter-panel>
        <app-counter-container>
            <app-counter-panel></app-counter-panel>
        </app-counter-container>
    </app-counter-container>
</section>

<section>
    Beispiel 3a: Config-Interface providen
    <pre>{{config | json}}</pre>
</section>

<section>
    Beispiel 3b: Icon-Array providen
    <pre>{{icons | json}}</pre>
</section>

<section>
    Beispiel 4: Parent Child
    <app-parent>
        <app-child></app-child>
        <app-child></app-child>
        <app-child></app-child>
        <app-child></app-child>
    </app-parent>
</section>